TESTE-PYTHON.qgz
Amostras para treinamento/Amostras-Oeste-Completa-31974-padronizadas.gpkg
Imagens brutas/CentroUrbanoBoaVista-030-31974.tif
Imagens brutas/TesteClassificar-030-31974-classificado_modo3-v1.tif
Imagens brutas/TesteClassificar-030-31974-classificado_modo3-v1.tif.aux.xml
Imagens brutas/TesteClassificar-030-31974-classificado_modo3-v2.tif
Imagens brutas/TesteClassificar-030-31974-classificado_modo3-v2.tif.aux.xml
Imagens brutas/TesteClassificar-030-31974-classificado_modo3-v3.tif
Imagens brutas/TesteClassificar-030-31974-classificado_modo3-v3.tif.aux.xml
Imagens brutas/TesteClassificar-030-31974-classificado_modo3-v4.tif
Imagens brutas/TesteClassificar-030-31974-classificado_modo3-v4.tif.aux.xml
Imagens brutas/TesteClassificar-030-31974-classificado_modo5-v1.tif
Imagens brutas/TesteClassificar-030-31974-classificado_modo5-v1.tif.aux.xml
Imagens brutas/TesteClassificar-030-31974-classificado_modo5.tif.aux.xml
Imagens brutas/TesteClassificar-030-31974-classificado_modo7-v1.tif
Imagens brutas/TesteClassificar-030-31974-classificado_modo7-v1.tif.aux.xml
Imagens brutas/TesteClassificar-030-31974-classificado_modo7.tif.aux.xml
Imagens brutas/TesteClassificar-030-31974-classificado.tif
Imagens brutas/TesteClassificar-030-31974-classificado.tif.aux.xml
Imagens brutas/TesteClassificar-030-31974.tif
Imagens brutas/TesteClassificar-030-31974.tif.aux.xml
Imagens brutas/ZonaOeste-030-31974.tif
Modelos treinados/CentroUrbanoBoaVista-030-31974-N300-modelo.pkl
Modelos treinados/ZonaOeste-030-31974-N100-modelo.pkl
Modelos treinados/ZonaOeste-030-31974-N200-modelo.pkl
matriz_confusao_vetor_20250513_010640.txt
